<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Momos App Page</title>
        <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/libs/css/bootstrap.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'/>

        <!-- t.y bootstrap-->
        <link href="/assets/stylesheets/jumbotron-narrow.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#home">Home</a></li>
                        <li role="presentation"><a href="#myform">My Forms</a></li>
                        <li role="presentation"><a href="#newform">Agenda</a></li>
                        <li role="presentation"><a href="/session/logout">Logout</a></li>
                    </ul>
                </nav>
                <h3 class="text-muted">Momo's</h3>
            </div>

            <!-- Inject the view here -->
            <div id="viewContainer"/>

            <footer class="footer">
                <p>&copy; Transcosmos Technologic Arts 2015</p>
            </footer>
        </div> <!-- /container -->

        <!-- newForm view -->
        <div id="newFormContainer"></div>


        <!-- libs -->
        <script src="/libs/hubu.js"></script>
        <script src="/libs/jquery.min.js"></script>
        <script src="/libs/js/bootstrap.min.js"></script>
        <script src='/libs/ractive.min.js'></script>

        <!-- component -->
        <script src="/libs/render-service.js"></script>
        <script src="/libs/render-service-ractive.js"></script>

        <!-- views -->
        <script src="/assets/view/home.js"></script>
        <script src="/assets/view/newForm.js"></script>


        <!-- Utils -->
        <script src="/assets/Utils.js"></script>


        <!-- service -->
        <script src="/assets/NewFormManager.js"></script>
        <script src="/assets/LocationHashTacker.js"></script>


        <!-- App -->
        <script th:inline="javascript">

            var newForm = {
                title : null,
                entries : [
                    {
                        label: 'New Question',
                        type: 'Text',
                        choices: []
                    }
                ]
            };

            var global = {
                name : /*[[${#session.get('name')}]]*/ null
            };


            //Start the app!
            jQuery(document).ready(function() {

                hub.registerComponent(new RactiveRender(), {
                    model: newForm,
                    template: "newForm",
                    container: 'newFormContainer',
                    name: 'NewFormRender'
                })
                .registerComponent(new RactiveRender(), {
                    model: global,
                    template: "home",
                    container: 'viewContainer',
                    autorender: true,
                    name: 'HomeRender'
                })

                .registerComponent(new NewFormManager(), {
                    model: newForm,
                    name: 'NewFormManager'
                }).registerComponent(new LocationHashTacker(), {
                    name: 'LocationHashTracker'
                })
                .start();

            });
        </script>


        <!-- <h2>Welcome <span th:text="${#session.get('name')}"></span>!</h2> -->
    </body>
</html>